<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Productos Disponibles</h1>
<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="producto : ${productos}">
        <td th:text="${producto.nombre}"></td>
        <td th:text="${producto.descripcion}"></td>
        <td th:text="${producto.precio}"></td>
        <td>
            <form th:action="@{'/productos/admin/eliminar/' + ${producto.id}}" method="post">
                <button type="submit">Eliminar</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>