<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Lista de Posts</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Usuario ID</th>
        <th>Título</th>
        <th>Contenido</th>
    </tr>
    <tr th:each="post : ${posts}">
        <td th:text="${post.id}"></td>
        <td th:text="${post.userId}"></td>
        <td th:text="${post.title}"></td>
        <td th:text="${post.body}"></td>
    </tr>
</table>
</body>
</html>