<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Lista de Materias</h1>
<table>
    <thead>
    <tr>
        <th>nombre</th>
        <th>profesor</th>
        <th>area</th>
        <th>cupos</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="materia : ${materias}">
        <td th:text="${materia.nombre}"></td>
        <td th:text="${materia.profesor}"></td>
        <td th:text="${materia.area}"></td>
        <td th:text="${materia.cupos}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>